page-home {
    ion-card.card{
        background-color: #E7A07F;
        height: 100px;
        margin: 20px;
    }


    .list{
        margin:15px auto ;
        max-width: 500px;
    }
    .result{
        font-size:40px;
        font-family: sans-serif;
        font-weight: bolder;
        display: block;
    }
}

